.issue-creator {
  color: #99cc33;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.back-to-issues {
  color: #99cc33;
}
#issue-container {
  background-color: #f5f5f5;
  .issue-icon {
    color: green;
  }
  .total-count {
    font-size: 14pt;
  }
  .issue {
    background-color: #FFF;
    display: block;
    padding: 20px;
    font-family: "Calibri";
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    .summary {
      padding: 0 !important;
      .issue-title {
        color: black;
        font-size: 12pt;
      }
      .issue-label {
        padding: 2px 5px;
        font-weight: bold;
      }
      .opened-by {
        display: block;
        color: lightgray;
      }
    }
    .comments {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .pagination {
    .page {
      padding: 10px 15px;
      background-color: #FFF;
      border-radius: 50%;
      color: #000;
      text-decoration: none;
      &:hover, &.current {
        color: #FFF;
        background-color: #99cc33;
      }
    }
  }
}

#issue-details {
  background-color: #f5f5f5;
  .summary {
    background-color: #FFF;
    padding: 20px;
    font-family: "Calibri";
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    .info {
      padding: 0 !important;
      .issue-title {
        color: black;
        font-size: 16pt;
      }
      .number {
        color: grey;
        font-size: 16pt;
      }
      .status {
        color: lightgray;
        .state {
          color: #FFF;
          background-color: #99cc33;
          text-transform: uppercase;
          font-size: 12pt;
          padding: 3px 5px;
          margin: 5px;
          border-radius: 3px;
        }
      }
    }
  }
  .comment {
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    .info{
      padding-bottom: 20px;
      color: lightgray;
      border-bottom: 1px solid #ddd;
      position: relative;
    }
    .body {
      font-size: 10pt;
      padding: 20px;
    }
  }
}