$tablet: "max-width: 1023px";

body {
  margin: 0;
}
#login-page {
  min-height: 100%;
  background: url(../images/login-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#github-login {
  text-align: center;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  font-size: 22pt;
  line-height: 50%;
  #floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
  }
  a {
    padding: 10px 60px;
    clear: both;
    font-size: 22pt;
  }
}
